body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-image: url("./../images/bg-bottom.svg"), url("./../images/bg-top.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
     /* background-color:  hsl(234, 14%, 74%); */
    font-family: Montserrat;
    color: hsl(232, 13%, 33%);
}

.main {
    
    height: 65%;
    width: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.subscription {
    display: flex;
}


input[type=checkbox] {
    height: 0;
    width: 0;
}

label {
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;

}

label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+label {
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.plan {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-container {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price-head{
    margin-top: 30px;
}

.price-details {
    background-color: white;
    height: 25rem;
    width: 18rem;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.price-in-doller {
    font-size: 35px;
    font-weight: 600;
    width: 80%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width: 70%;
    height: 30px;
    border: 0px;
    border-radius: 10px;
}

.price-details:hover {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    scale: 1.05;
    transition: 0.5s;

}

.price-details:hover button {
    background-image: none;
}

.price-details:hover hr {
    border: 1px solid rgb(252, 249, 249);
    width: 80%;
}

hr {
    border: 1px solid black;
    width: 80%;
}


/* ----- media query ----- */

@media (max-width: 630px) {

    .price-container {
        display: block;
        margin: auto;
    }
    .price-details{
        margin:auto;
    }

    .price-details:hover {
        background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: white;
        scale: 1;
        transition: 0.5s;
    
    }

}

@media (max-width: 375px) {
    body{
        height: 100%;
        width: 100%;

    }

    .price-container {
        display: block;
        margin: auto;
    }
    .price-details{
        margin:auto;
    }

    .price-details:hover {
        background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: white;
        scale: 1;
        transition: 0.5s;
    
    }
}